figure.max-w-5c.mx-auto
  img(
    src='media/portrait.png'
    alt='Cartoon drawing of Daniel Narey'
    class=`
      border
      rounded
      border-darker-blue
    `
  )

.text-white
  p.pb-half-b.font-extrabold.text-xl
    | Daniel Narey
  p.font-barlow-semi.font-semibold.text-sm
    | Node.js developer, visual designer, open-source enthusiast
