figure.max-w-5c.mx-auto
  img(
    src='media/portrait.png'
    alt='Cartoon drawing of Daniel Narey'
    class=`
      border
      rounded
      border-darker-blue
    `
  )

.text-lighter
  p(class=`
    pt-one-and-half-b
    pb-1b
    font-extrabold
    text-xl
  `)
    | Daniel Narey

  p(class=`
    font-barlow-semi
    font-semibold
    leading-sm-narrow c11_leading-base-narrow
  `)
    | Node.js developer, visual designer &amp; open-source enthusiast
