include /_mixin-tabpanel.pug


+tabpanel('4', 'Projects')
  section.text-lg.leading-lg-narrow
    != content.usesHeader

  section.typeset
    != content.usesMain
  
  section
    != content.usesFooter
