include /_mixin-tabpanel.pug


+tabpanel('1', 'About')
  section.px-1b.text-xl.leading-xl-narrow
    != content.aboutHello
    
  section.px-1b.text-lg.leading-lg-narrow
    != content.aboutHeadline

  section.typeset.px-1b
    != content.aboutBackstory
