include /_mixin-tabpanel.pug


+tabpanel('3', 'Now')
  section.text-lg.leading-lg-narrow
    != content.nowHeader

  section.leading-sm-narrow.c17_leading-base-narrow
    != content.nowMain
    
  section
    != content.nowFooter
