include /_mixin-tabpanel.pug


+tabpanel('1', 'Projects')
  section.text-lg.leading-lg-narrow
    != content.projectsHeader

  section.typeset
    != content.projectsMain
  
  section
    != content.projectsFooter
