include /_mixin-tabpanel.pug


+tabpanel('3', 'Uses')
  section.text-lg.leading-lg-narrow
    != content.usesHeader

  section.typeset.leading-sm-narrow.c17_leading-base-narrow
    != content.usesMain
  
  section
    != content.usesFooter