include /_mixin-tabpanel.pug


+tabpanel('1', 'About')
  section
    .mb-1b.text-xl.leading-xl-narrow
      != content.aboutHello
    
    .text-lg.leading-lg-narrow
      != content.aboutHeader

  section
    != content.aboutMain
