div.app.svelte-p5z9wv{background-color:hsl(0,0%,97%);color:hsl(0,0%,17%);font-family:Barlow, sans-serif;font-weight:400;font-size:1rem;line-height:1.5rem
}div.sidebar.svelte-p5z9wv{border-color:hsl(225,40%,17%);background-color:hsl(225,40%,17%)
}@media(min-width: 704px){div.sidebar.svelte-p5z9wv{border-right-width:1px
  }}@media(min-width: 1088px){div.app.svelte-p5z9wv{font-size:1.25rem;line-height:2rem
  }}
header.svelte-1om7dhc{width:100vw;padding-top:1rem;padding-left:1rem;padding-right:1rem;padding-bottom:2rem
}div.svelte-1om7dhc{width:100%;max-width:20rem;margin-left:auto;margin-right:auto
}img.svelte-1om7dhc{border-width:1px;border-radius:4px;border-color:hsl(225,40%,17%)
}p.svelte-1om7dhc{color:hsl(0,0%,92%)
}p.title.svelte-1om7dhc{padding-top:1.5rem;padding-bottom:1rem;font-weight:700;font-size:2rem
}p.desc.svelte-1om7dhc{font-family:"Barlow Semi Condensed", sans-serif;line-height:1.25rem
}@media(min-width: 704px){header.svelte-1om7dhc{width:100%;padding-top:2rem
  }}@media(min-width: 1088px){header.svelte-1om7dhc{padding-top:3rem
  }p.desc.svelte-1om7dhc{line-height:1.5rem
  }}
nav.svelte-lj6was.svelte-lj6was{width:100vw
}ul.svelte-lj6was.svelte-lj6was{border-top-width:1px;border-bottom-width:1px;border-color:hsl(-15,85%,62%);background-color:hsl(-15,40%,87%);color:hsl(0,0%,22%)
}li.svelte-lj6was>button.svelte-lj6was{width:100%;padding-left:2rem;padding-right:2rem;border-color:hsl(-15,85%,62%);font-weight:700;font-size:0.875rem;line-height:2rem;letter-spacing:0.025em;text-transform:uppercase;text-align:left
}li.svelte-lj6was:not(:last-child)>button.svelte-lj6was{border-bottom-width:1px
}li.svelte-lj6was>button.active.svelte-lj6was{background-color:hsl(-15,85%,62%);color:#fff
}@media(min-width: 704px){nav.svelte-lj6was.svelte-lj6was{width:100%;padding-bottom:4rem
  }}@media(min-width: 1088px){nav.svelte-lj6was.svelte-lj6was{padding-left:1rem;padding-right:1rem
  }ul.svelte-lj6was.svelte-lj6was{border-left-width:1px;border-right-width:1px;border-radius:4px
  }li.svelte-lj6was>button.svelte-lj6was{font-size:1rem;line-height:2.5rem
  }}
main.svelte-1c998n7{width:100vw;min-height:100vh;padding-top:2rem;padding-bottom:2rem
}@media(min-width: 1088px){main.svelte-1c998n7{padding-top:3rem;padding-bottom:3rem
  }}
div.hello.svelte-l6tcp3{margin-bottom:1rem;font-size:2rem;line-height:2.5rem
}div.header.svelte-l6tcp3{font-size:1.5rem;line-height:2rem
}
div.svelte-1argvwu{padding-left:1rem;padding-right:1rem
}
footer.svelte-19omzny{width:100vw;min-height:28rem;padding-top:2rem;background-color:hsl(225,40%,17%);color:#fff;font-size:1rem;line-height:1.5rem
}@media(min-width: 1088px){footer.svelte-19omzny{padding-top:3rem
  }}